<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>source\Appccelerate.EvaluationEngine.sln</Name>
  <NugetSpecFolder>assets/nuget</NugetSpecFolder>
  <SourceFolder>source</SourceFolder>
  <BuildCommand>msbuild source\Appccelerate.EvaluationEngine.sln /t:Clean;Rebuild /p:Configuration=Release</BuildCommand>
  <FastBuildCommand>msbuild source\Appccelerate.EvaluationEngine.sln /t:Build /p:Configuration=Debug</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="https://teamcity.bbv.ch/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" />
  </Feeds>
  <Nugets>
    <Dependency Name="Appccelerate.Development" Version="0.8" Mode="Fixed" />
    <Dependency Name="Appccelerate.Development.Facts" Version="0.8" Mode="Fixed" />
    <Dependency Name="Appccelerate.Development.ProductionCode" Version="0.8" Mode="Fixed" />
    <Dependency Name="Appccelerate.Development.Specs" Version="0.8" Mode="Fixed" />
    <Dependency Name="Appccelerate.Fundamentals" Version="2.1.0-Unstable25" Mode="Float" />
    <Dependency Name="FakeItEasy" Version="1.15.0.0" Mode="Float" />
    <Dependency Name="FluentAssertions" Version="2.2.0.0" Mode="Float" />
    <Dependency Name="GitFlowVersionTask" Version="0.14.0" Mode="Fixed" />
    <Dependency Name="Machine.Specifications" Version="0.6.0" Mode="Fixed" />
    <Dependency Name="RippleRestoreTask" Version="0.1.4" Mode="Fixed" />
    <Dependency Name="StyleCop.MSBuild" Version="4.7.48.0" Mode="Fixed" />
    <Dependency Name="xunit" Version="1.9.2.0" Mode="Fixed" />
    <Dependency Name="xUnit.Extensions" Version="1.9.2.0" Mode="Float" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>